[submodule "lib/jsmnSol"]
	path = contracts/lib/jsmnSol
	url = git@github.com:vladfilimon/jsmnSol.git
[submodule "lib/solidity-stringutils"]
	path = contracts/lib/solidity-stringutils
	url = git@github.com:vladfilimon/solidity-stringutils.git
